<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gledson.devmobile_widgets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaListView" />
        <activity android:name=".TelaImageView" />
        <activity android:name=".TelaWebView" />
        <activity android:name=".TelaVideoView" />
        <activity android:name=".TelaCalendarView" />
        <activity android:name=".TelaProgressBar" />
        <activity android:name=".TelaProgressBarHorizontal" />
        <activity android:name=".TelaSeekBar" />
        <activity android:name=".TelaEditView" />
        <activity android:name=".TelaAula3" />
        <activity android:name=".TelaAula3_ligar" />
        <activity android:name=".TelaAula3_foto"></activity>
    </application>

</manifest>